<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$cateInfo.catename}</title>
<meta name="description" content="{$cateInfo.desc}" />
<meta name="keywords" content="{$cateInfo.keywords}" />
<link rel="stylesheet" type="text/css" media="all" href="__STYLE__/style.css" />
<script src="__STYLE__/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__STYLE__/jquery.js" type="text/javascript"></script>
    <script src="__STYLE__/jquery.error.js" type="text/javascript"></script>
    <script src="__STYLE__/jtemplates.js" type="text/javascript"></script>
    <script src="__STYLE__/jquery.form.js" type="text/javascript"></script>
    <script src="__STYLE__/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STYLE__/wp-sns-share.js"></script>
    <script type="text/javascript" src="__STYLE__/voterajax.js"></script>
    <script type="text/javascript" src="__STYLE__/userregister.js"></script>
    <link rel="stylesheet" href="__STYLE__/pagenavi-css.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__STYLE__/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__STYLE__/voteitup.css" type="text/css" />
    <style type="text/css">
        #wrapper
        {
            background-color: #ffffff;
        }
        .single_entry{margin-top:30px;}
    </style>
</head>
<body class="single2">

<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 
<div id="header_wrap">
 {include file="public/header"}
</div>

</div>
    <div id="wrapper">
        <div class="single_entry page_entry" style="background-color: #f4f4f4;">
        {include file="public/position"}

            <div class="entry" style="border-top: 1px solid #a9a9a9;">
                <h2 style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 22px; vertical-align: baseline; font-family: 'Microsoft Yahei', 'Trebuchet MS', Arial, Tahoma, Helvetica, sans-serif; line-height: 26px; color: rgb(51, 51, 51);">
                {$pageArt.catename}</h2>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    {$pageArt.content}</p>
    
    
                <div class="clear">
                </div>
            </div>
    </div>

    </div>
 <div id="footer_wrap">
    <div id="footer">
        <div class="footer_navi">
            <ul id="menu-%e5%b0%be%e9%83%a8%e5%af%bc%e8%88%aa" class="menu">
                <li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156">
                    <a href="/aboutus.html">关于我们</a></li>
                <li id="menu-item-157" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-157">
                    <a href="/contact.html">联络我们</a></li>
                <li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-158">
                    <a href="/tougao.html">我要投稿</a></li>
            </ul>
        </div>
        <div class="footer_info">
            <span class="legal">Copyright &copy; 2008-2020 ThinkPHP5 版权所有&nbsp;&nbsp;&nbsp;<a href="#">
                渝ICP备******号</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__STYLE__/z700bike_global.js"></script>
</body>
</html>
