<div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/" title="宽屏大气文章类--41天鹰模板">宽屏大气文章类--41天鹰模板</a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>

        <div id="navi">

        <ul id="jsddm">
        <li><a class="navi_home" href="/">首页</a></li>
        {volist name="cateres" id="vo"}
        <li><a href="
        {if condition="$vo['type'] eq 1"}
        {:url('artlist/artlist',array('cateid'=>$vo['id']))}
        {elseif condition="$vo['type'] eq 2"}
        {:url('page/page',array('cateid'=>$vo['id']))}
        {elseif condition="$vo['type'] eq 3"}
        {:url('imglist/imglist',array('cateid'=>$vo['id']))}
        {/if}
        ">{$vo['catename']}
        </a>
            {if condition="$vo['children'] neq 0"}
            <ul>
            {volist name="$vo['children']" id="val"}
            <li><a href="
            {if condition="$vo['type'] eq 1"}
            {:url('artlist/artlist',array('cateid'=>$val['id']))}
            {elseif condition="$vo['type'] eq 2"}
            {:url('page/page',array('cateid'=>$val['id']))}
            {elseif condition="$vo['type'] eq 3"}
            {:url('imglist/imglist',array('cateid'=>$val['id']))}
            {/if}
            ">{$val['catename']}</a></li>
            {/volist}
            </ul>
            {/if}
        </li>
        {/volist}

        </ul>
        <div style="clear: both;">
        </div>
              
        </div>



<div style="float: right; width: 209px;">
    <div class="widget" style="height: 30px; padding-top: 20px;">
        <div style="float: left;">
            <form  name="formsearch" action="{:url('search/search')}" method="get">
                <input  required="required" name="keywords" type="text" 
                style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" 
                id="go" value=""  />
            </form>
        </div>
        <div style="float: left;">
            <img src="__IMAGES__/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;padding: 0px;" onclick="subForm()"  />
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
        
        
</div>

